body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: black;
  margin: 0;
}

.title {
  color: white;
  align-self: center;
}

.sc-wrapper {
  border: 5px solid white;
  justify-self: center;
  align-self: center;
}

.square-container {
  display: flex;
  max-width: 256px;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.square {
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 0;
  /* border: 1px solid white; */
  flex-shrink: 0;
}

/* .square:hover {
  background-color: red;
} */
