body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  margin: 0;
}

.square-container {
  display: flex;
  width: 256px;
  flex-wrap: wrap;
}

.square {
  width: 14px;
  height: 14px;
  margin: 0;
  padding: 0;
  border: 1px solid white;
  flex-shrink: 0;
}

.square:hover {
  background-color: red;
}
